<header class="header clear" role="banner">
  <nav class="navbar navbar-expand-md navbar-light bg-light" id="myNavbar">
    <a id="navbarLogo" class="navbar-brand" href="">
      <img
        [routerLink]="['/']"
        src="assets/images/logo.png"
        alt="findparts_logo"
      >
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pr-md-5">
          <a
            [routerLink]="['/']"
            class="nav-link text-center"
          >
            Homepage
            <img id="houseIcon" src="assets/images/house-icon.png" alt="house_icon">
          </a>
        </li>
        <li class="nav-item pr-md-5">
          <a
            [routerLink]="['/partners']"
            class="nav-link text-center">
            Partners
            <img id="partnersIcon" src="assets/images/deal.png" alt="house_icon">
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
