header {
  #navbarLogo {
    max-width: 300px;
    height: auto;
    img {
      max-width: 300px;
    }
  }
  #navbarMenu {
    #houseIcon {
      width: 27px;
      margin-left: 7px;
      margin-top: -7px;
      height: auto;
    }
    #partnersIcon {
      width: 30px;
      margin-left: 2px;
      margin-top: -7px;
      height: auto;
    }
    a{
      &:hover {
        color: #666;
        box-shadow: 2px 2px #515257;
        transition: box-shadow 0.2s ease-in-out;
      }
      font-family: SegoeBoldItalic;
      font-size: 29px;
      color: #58ba47;
      margin-right: 10px;
    }
    .active {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1800px) {
  header {
    #navbarMenu {
      a{
        font-size: 26px;
        margin-right: 0px;
      }
    }
  }
}

@media (max-width: 466px) {
  header {
    #navbarLogo {
      img {
        width: 215px;
      }
    }
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 8px 20px -6px rgba(172, 172, 172, 0.5),
  inset 0 -3em 3em rgba(0,0,0,0.1);

  -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
}

.slide-margin {
  margin-top: 100px;
}

