/* You can add global styles to this file, and also import other style files */
// setting up Theme
@import "node_modules/@angular/material/theming";
@include mat-core();
$my-primary: mat-palette($mat-green, 500);
$my-accent: mat-palette($mat-green, 800);
$my-theme: mat-light-theme($my-primary, $my-accent);
@include angular-material-theme($my-theme);


//removing outline from images
*,*:focus,*:hover{
  outline:none;
}

//Removing input background color for Chrome autocomplete
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}

//Fonts
@font-face {
  font-family: Segoe;
  src: url("assets/fonts/segoe.ttf");
}

@font-face {
  font-family: SegoeBold;
  src: url("assets/fonts/segoe-bold.ttf");
}

@font-face {
  font-family: SegoeItalic;
  src: url("assets/fonts/segoe-italic.ttf");
}

@font-face {
  font-family: SegoeBoldItalic;
  src: url("assets/fonts/segoe-bold-italic.ttf");
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Hiding ReCaptcha
.grecaptcha-badge { visibility: hidden; }
