<!--TODO add responsivness-->
<div class="container-fluid pt-5 pb-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <mat-card>
        <mat-card-title>
          <div class='text-center form-header'>
            Choose tyres you want - we will find it within 24 hours
          </div>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="tyresForm" (ngSubmit)='submit()' autocomplete="off" class="text-center">
            <div class='mt-4 mb-4'>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Name<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Name" formControlName='name'>
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint><span>Name is required</span></mat-hint>
              </mat-form-field>

              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Phone<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Phone" formControlName='phone'>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint><span>Phone is required</span></mat-hint>
              </mat-form-field>

              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Email<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Email" formControlName='email'>
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-hint><span>Email is required</span></mat-hint>
              </mat-form-field>
            </div>

            <div class='mt-4 mb-4'>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Tyre brand<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Tyre brand" formControlName='tyreBrand'>
                <mat-icon matSuffix>trip_origin</mat-icon>
                <mat-hint><span>Tyre brand is required</span></mat-hint>
              </mat-form-field>

              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Tyre size<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Tyre size" formControlName='tyreSize'>
                <mat-icon matSuffix>trip_origin</mat-icon>
                <mat-hint><span>Tyre size is required</span></mat-hint>
              </mat-form-field>
            </div>

            <div class='mt-4 mb-4'>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Year (optional)</mat-label>
                <input matInput placeholder="Year" formControlName='year'>
                <mat-icon matSuffix>date_range</mat-icon>
                <mat-hint><span>Year is required</span></mat-hint>
              </mat-form-field>

              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>City<span style='color: red'>*</span></mat-label>
                <mat-select placeholder="City" formControlName='city'>
                  <mat-option value="Abu Dhabi">Abu Dhabi</mat-option>
                  <mat-option value="Dubai">Dubai</mat-option>
                  <mat-option value="Al Ain">Al Ain</mat-option>
                  <mat-option value="Ajman">Ajman</mat-option>
                  <mat-option value="Sharjah">Sharjah</mat-option>
                  <mat-option value="Fujairah">Fujairah</mat-option>
                  <mat-option value="Umm Al Quwain">Umm Al Quwain</mat-option>
                  <mat-option value="Ras Al Khaimah">Ras Al Khaimah</mat-option>
                </mat-select>
                <mat-icon matSuffix>location_on</mat-icon>
                <mat-hint><span>City is required</span></mat-hint>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field id="textarea" appearance="legacy" style='width: 540px'>
                <mat-label>Notes (optional)</mat-label>
                <textarea matInput formControlName='notes'></textarea>
              </mat-form-field>
            </div>

            <div>
              <mat-checkbox
                class="example-margin"
                formControlName='userConsent'
                required
              >
                I agree with User Agreement and Privacy Policy!<span style='color: red'>*</span>
              </mat-checkbox>
            </div>

            <button
              class='mt-2 mb-3'
              type="submit"
              [disabled]="!tyresForm.valid || !isCaptchaValid"
              mat-raised-button
              color="primary"
            >
              Submit
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
