.form-header {
  font-family: SegoeBoldItalic;
}

mat-card {
  padding: 0;
  border-radius: 20px;

  mat-card-title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #d4d4d8;

    .form-header {
      color: #43434a;
    }
  }
}

form {
  mat-form-field {
    font-size: 1.2rem;
    width: 25%;
  }
  button {
    font-size: 1.2rem;
    padding: 4px 18px;
  }
  mat-checkbox {
    font-size: 1.2rem;
  }
  .success-message {
    font-size: 1.2rem;
    color: #339D35;
  }
  .error-message {
    font-size: 1.2rem;
    color: #f44336;
  }
}

@media only screen and (max-width: 1000px) {
  form {
    mat-form-field {
      font-size: 1rem !important;
    }
    button {
      font-size: 1rem !important;
    }
    mat-checkbox {
      font-size: 1rem !important;
    }
    .success-message {
      font-size: 1rem !important;
    }
    .error-message {
      font-size: 1rem !important;
    }
  }
}

@media only screen and (max-width: 605px) {
  form {
    #textarea {
      width: 100% !important;
      padding-left: 10px;
      padding-right: 10px;
    }
    mat-form-field {
      font-size: 0.9rem !important;
      width: 35%;
    }
    button {
      font-size: 1rem !important;
      padding: 2px 9px;
    }
    mat-checkbox {
      font-size: 0.8rem !important;
    }
    .success-message {
      font-size: 0.8rem !important;
    }
    .error-message {
      font-size: 0.8rem !important;
    }
  }
}

@media only screen and (max-width: 425px) {
  mat-card-title {
    font-size: 18px !important;
    padding-left: 5px;
    padding-right: 5px;
  }
  form {
    mat-form-field {
      width: 80%;
      font-size: 1.1rem !important;
    }
    mat-checkbox {
      font-size: 0.7rem !important;
    }
    button {
      font-size: 20px !important;
    }
  }
}
