$lightGreen: #339D35;
$darkGreen: #1f570c;
$lightGray: #9698a5;
$darkGray: #1E222e;
$hoverGreen: #36c14b;
$buttonDarkText: #1E222e;
$background: #f8f9fa;

#consent-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  visibility: hidden;
  opacity: 0.2;
  justify-content: center;
  background-image: linear-gradient(to bottom right, $lightGray, $darkGray);
  z-index: 999;
  height: 60px;
  .popup-text {
    margin-right: 20px;
    font-family: SegoeBoldItalic;
    text-transform: uppercase;
    font-size: 1rem;
    color: $background;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    a {
      color: $background;
      &:hover {
        cursor: pointer;
        color: $lightGreen;
        text-decoration: underline;
      }
    }
  }
  .popup-btn-cont {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    button {
      font-family: SegoeBoldItalic;
      font-size: 1rem;
      color: $background;
      background-color: $lightGreen;
    }
  }
}

.show-consent {
  opacity: 0.9 !important;
  transition: 0.3s ease-in-out;
  visibility: visible !important;
}

@media only screen and (max-width: 767px) {
  #consent-popup {
    .popup-text {
      font-size: 0.8rem;
      margin-right: 0.5rem;
    }
    .popup-btn-cont {
      button {
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 590px) {
  #consent-popup {
    .popup-text {
      font-size: 0.7rem;
      margin: auto;
      display: block;
    }
    .popup-btn-cont {
      button {
        font-size: 0.7rem;
        margin: auto;
      }
    }
  }
}

.slide-margin {
  margin-top: 100px;
}


//Removing input background color for Chrome autocomplete
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  -webkit-text-fill-color: #333;
}
