<router-outlet></router-outlet>

<div id='consent-popup' #popup>
  <div class='popup-text'>By using this site you agree to our &nbsp;<a [routerLink]="['/terms']">Terms and Conditions</a></div>
  <div class='popup-btn-cont'>
    <button mat-raised-button color="primary" (click)='acceptCookies()'>Accept</button>
  </div>
</div>
