<!--TODO add responsivness-->
<div class="container-fluid pt-5 pb-5">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <mat-card>
        <mat-card-title>
          <div class='text-center form-header'>
            Choose parts you want - we will find it within 24 hours
          </div>
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="partsForm" (ngSubmit)='submit()' autocomplete="off" class="text-center">
            <div class='mt-4 mb-4'>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Name<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Name" formControlName='name'>
                <mat-icon matSuffix>person</mat-icon>
                <mat-hint><span>Name is required</span></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Phone<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Phone" formControlName='phone'>
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint><span>Phone is required</span></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Email<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Email" formControlName='email'>
                <mat-icon matSuffix>alternate_email</mat-icon>
                <mat-hint><span>Email is required</span></mat-hint>
              </mat-form-field>
            </div>

            <div class='mt-4 mb-4'>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Parts condition<span style='color: red'>*</span></mat-label>
                <mat-select placeholder="Parts condition" formControlName='partsCondition'>
                  <mat-option value="new">New</mat-option>
                  <mat-option value="used">Used</mat-option>
                </mat-select>
                <mat-icon matSuffix>build</mat-icon>
                <mat-hint><span>Parts condition is required</span></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Car make<span style='color: red'>*</span></mat-label>
                <mat-select placeholder="Car make" formControlName='carMake'>
                  <mat-option value="Alfa Romeo">Alfa Romeo</mat-option>
                  <mat-option value="Aston Martin">Aston Martin</mat-option>
                  <mat-option value="Audi">Audi</mat-option>
                  <mat-option value="BMW">BMW</mat-option>
                  <mat-option value="Bentley">Bentley</mat-option>
                  <mat-option value="Cadillac">Cadillac</mat-option>
                  <mat-option value="Chevrolet">Chevrolet</mat-option>
                  <mat-option value="Chrysler">Chrysler</mat-option>
                  <mat-option value="Citroen">Citroen</mat-option>
                  <mat-option value="Daihatsu">Daihatsu</mat-option>
                  <mat-option value="Dodge">Dodge</mat-option>
                  <mat-option value="Ferrari">Ferrari</mat-option>
                  <mat-option value="Fiat">Fiat</mat-option>
                  <mat-option value="Ford">Ford</mat-option>
                  <mat-option value="GMC">GMC</mat-option>
                  <mat-option value="Honda">Honda</mat-option>
                  <mat-option value="Hummer">Hummer</mat-option>
                  <mat-option value="Hyundai">Hyundai</mat-option>
                  <mat-option value="Infinity">Infinity</mat-option>
                  <mat-option value="Isuzu">Isuzu</mat-option>
                  <mat-option value="Jaguar">Jaguar</mat-option>
                  <mat-option value="Jeep">Jeep</mat-option>
                  <mat-option value="KIA">KIA</mat-option>
                  <mat-option value="Lamborghini">Lamborghini</mat-option>
                  <mat-option value="LandRover">Land Rover</mat-option>
                  <mat-option value="Lexus">Lexus</mat-option>
                  <mat-option value="Lincoln">Lincoln</mat-option>
                  <mat-option value="Lotus">Lotus</mat-option>
                  <mat-option value="MINI">MINI</mat-option>
                  <mat-option value="Maserati">Maserati</mat-option>
                  <mat-option value="Mazda">Mazda</mat-option>
                  <mat-option value="Mercedes-Benz">Mercedes-Benz</mat-option>
                  <mat-option value="Mitsubishi">Mitsubishi</mat-option>
                  <mat-option value="Nissan">Nissan</mat-option>
                  <mat-option value="Opel">Opel</mat-option>
                  <mat-option value="Peugeot">Peugeot</mat-option>
                  <mat-option value="Porsche">Porsche</mat-option>
                  <mat-option value="Renault">Renault</mat-option>
                  <mat-option value="Rolls Royce">Rolls Royce</mat-option>
                  <mat-option value="Saab">Saab</mat-option>
                  <mat-option value="Seat">Seat</mat-option>
                  <mat-option value="Skoda">Skoda</mat-option>
                  <mat-option value="Smart">Smart</mat-option>
                  <mat-option value="Subaru">Subaru</mat-option>
                  <mat-option value="Suzuki">Suzuki</mat-option>
                  <mat-option value="Tesla">Tesla</mat-option>
                  <mat-option value="Toyota">Toyota</mat-option>
                  <mat-option value="Volkswagen">Volkswagen</mat-option>
                  <mat-option value="Volvo">Volvo</mat-option>
                </mat-select>
                <mat-icon matSuffix>directions_car</mat-icon>
                <mat-hint><span>Car make is required</span></mat-hint>
              </mat-form-field>
            </div>

            <div id="yearRow">
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Car model<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Car model" formControlName='carModel'>
                <mat-icon matSuffix>directions_car</mat-icon>
                <mat-hint><span>Car model is required</span></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Year of production<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Year of production" formControlName='yearOfProduction'>
                <mat-icon matSuffix>directions_car</mat-icon>
                <mat-hint><span>Year of production is required</span></mat-hint>
              </mat-form-field>
              <mat-form-field id='vinFormFIeld' appearance="legacy" class='ml-4 mr-4'>
                <mat-label>VIN/CHASSIS NUMBER<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="VIN/CHASSIS NUMBER" formControlName='vin'>
                <mat-icon matSuffix>directions_car</mat-icon>
                <mat-hint><span>VIN/CHASSIS NUMBER is required</span></mat-hint>
              </mat-form-field>
            </div>

            <div id="fileRow">
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Part name<span style='color: red'>*</span></mat-label>
                <input matInput placeholder="Part name" formControlName='partName'>
                 <mat-icon matSuffix>build</mat-icon>
                 <mat-hint><span>Part name is required</span></mat-hint>
              </mat-form-field>
              <mat-form-field appearance="legacy" class='ml-4 mr-4'>
                <mat-label>Part number (optional)</mat-label>
                <input matInput placeholder="Part number" formControlName='partNumber'>
                <mat-icon matSuffix>build</mat-icon>
              </mat-form-field>
              <input class='d-none' type='file' (change)='onFileSelected($event)' #fileInput>
              <mat-form-field (click)='fileInput.click()' appearance="legacy" class='ml-4 mr-4 fileInputWrapper'>
                <mat-label>Add photo (optional)</mat-label>
                <input [value]='selectedFileName' matInput placeholder="Add photo" formControlName='fileName' disabled>
                <mat-icon matSuffix>add_a_photo</mat-icon>
                <mat-hint *ngIf="!fileSizeCorrect || !fileFormatCorrect"><span style='color: red'>File should be less 5 MB, .jpeg or .png</span></mat-hint>
               </mat-form-field>
            </div>

            <div>
              <mat-form-field id="textarea" appearance="legacy" style='width: 540px'>
                <mat-label>Notes (optional)</mat-label>
                <textarea matInput formControlName='notes'></textarea>
              </mat-form-field>
            </div>
            <div>
              <mat-checkbox
                class="example-margin"
                formControlName='userConsent'
                required
              >
                I agree with User Agreement and Privacy Policy!<span style='color: red'>*</span>
              </mat-checkbox>
            </div>

            <button
              *ngIf='showButton'
              class='mt-2 mb-3'
              type="submit"
              [disabled]="!partsForm.valid || !fileSizeCorrect || !fileFormatCorrect || !isCaptchaValid"
              mat-raised-button
              color="primary"
            >
              Submit
            </button>

            <div class='mt-2 mb-3 d-flex justify-content-center'>
              <mat-spinner class='mb-2' *ngIf='isLoading' [diameter]='60'></mat-spinner>
              <span *ngIf='isSuccess' class='success-message mt-1 mb-3'>Request Form was Successfully sent, we will contact you with best offers ASAP</span>
              <span *ngIf='isError' class='error-message mb-3'>Error occurred, please fill the form again</span>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
