<findparts-web-header></findparts-web-header>
<main id="main" role="main">
  <section
    id="partnersHeader"
    [ngStyle]="{backgroundImage:'url(./assets/images/partnersbg5.jpg)'}"
  >
    <div class='partnersHeader-container' #partHeadCont>
      <div class='header-parts mt-1 mb-2'>
        Want to become our Partner?
      </div>
      <div class='subheader-parts mt-1 mb-3'>
        Please fill the form,<br>
        and become a part of our suppliers database
      </div>

      <mat-card class='form-container'>
        <form [formGroup]="partnersForm" (ngSubmit)='submit()' autocomplete="off" class='header-image-form'>
          <div class='mt-2 mb-2'>
            <mat-form-field appearance="legacy" class='ml-4 mr-4'>
              <mat-label>Name<span style='color: red'>*</span></mat-label>
              <input matInput placeholder="Name" formControlName='name'>
              <mat-icon matSuffix>person</mat-icon>
              <mat-hint><span>Name is required</span></mat-hint>
            </mat-form-field>
          </div>

          <div class='mt-2 mb-2'>
            <mat-form-field appearance="legacy" class='ml-4 mr-4'>
              <mat-label>Phone<span style='color: red'>*</span></mat-label>
              <input matInput placeholder="Phone" formControlName='phone'>
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint><span>Phone is required</span></mat-hint>
            </mat-form-field>
          </div>

          <div class='mt-2 mb-2'>
            <mat-form-field appearance="legacy" class='ml-4 mr-4'>
              <mat-label>Email<span style='color: red'>*</span></mat-label>
              <input matInput placeholder="Email" formControlName='email'>
              <mat-icon matSuffix>alternate_email</mat-icon>
              <mat-hint><span>Email is required</span></mat-hint>
            </mat-form-field>
          </div>

          <div class='mt-3 mb-2'>
            <mat-form-field appearance="legacy" class='ml-4 mr-4'>
              <mat-label>Service Type<span style='color: red'>*</span></mat-label>
              <mat-select placeholder="Service Type" formControlName='serviceType'>
                <mat-option value="Tyres">Tyres</mat-option>
                <mat-option value="Detailing & Bodyworks">Detailing & Bodyworks</mat-option>
                <mat-option value="Parts">Parts</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class='mt-2 mb-2 d-flex justify-content-center'>
            <button
              *ngIf='showButton'
              type="submit"
              [disabled]="!partnersForm.valid"
              mat-raised-button
              color="primary"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-card>
    </div>

  </section>
</main>

<findparts-web-footer></findparts-web-footer>
