$lightGreen: #339D35;
$darkGreen: #1f570c;
$lightGray: #9698a5;
$darkGray: #1E222e;
$hoverGreen: #36c14b;
$buttonDarkText: #1E222e;
$background: #f8f9fa;
// ///////////
//Partners Header Block
#partnersHeader {
  width: 100%;
  position: relative;
  box-shadow: 0px 15px 130px 0 rgba(0, 0, 0, 0.6) !important;
  background-size: cover;
  background-position: center;
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .partnersHeader-container {
    visibility: hidden;
    opacity: 0.2;
    .header-parts {
      text-align: center;
      color: $background;
      font-family: SegoeBoldItalic;
      font-size: 2.0rem;
      font-weight: bold;
      text-shadow: 3px 4px 4px #5c5c65;
    }
    .subheader-parts {
      text-align: center;
      color: $background;
      font-family: SegoeBoldItalic;
      font-size: 1.6rem;
      ine-height: 1.7rem;
      font-weight: bold;
      text-shadow: 3px 4px 4px #5c5c65;
    }
    .form-container {
      display: flex;
      background-color: rgba(248, 249, 250, 0.75);
      -webkit-box-shadow: 10px 10px 66px -12px rgba(0,0,0,1);
      -moz-box-shadow: 10px 10px 66px -12px rgba(0,0,0,1);
      box-shadow: 10px 10px 66px -12px rgba(0,0,0,1);
      form {
        mat-form-field {
          font-size: 1.5rem;
          width: 450px;
        }
        button {
          font-size: 1.5rem;
          padding: 6px 22px;
        }
      }
    }
  }
}
.slide-margin {
  margin-top: 100px;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
  transition: 1s ease-in-out;
}

@media only screen and (max-width: 640px) {
  #partnersHeader {
    height: 700px;
    .partnersHeader-container {
      .header-parts {
        font-size: 1.5rem;
      }
      .subheader-parts {
        font-size: 1.4rem;
      }
      .form-container {
        form {
          mat-form-field {
            font-size: 1.2rem;
            width: 370px;
          }
          button {
            font-size: 1.2rem;
            padding: 5px 18px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 590px) {
  #partnersHeader {
    height: 660px;
    .partnersHeader-container {
      .header-parts {
        font-size: 1.4rem;
      }
      .subheader-parts {
        font-size: 1.3rem;
        margin-right: 5px;
        margin-left: 5px;
      }
      .form-container {
        width: 380px;
        margin: auto;
        form {
          width: 100%;
          div {
            text-align: center;
            mat-form-field {
              font-size: 1.2rem;
              width: 320px !important;
              margin-left: 0 !important;
              margin-right: 0 !important;
            }
            button {
              font-size: 1.2rem;
              padding: 5px 18px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  #partnersHeader {
    .partnersHeader-container {
      .form-container {
        width: 320px;
        form {
          div {
            mat-form-field {
              width: 280px !important;
            }
          }
        }
      }
    }
  }
}

