<h2 mat-dialog-title>Fill the form and we will contact you.</h2>

<form [formGroup]="contactForm" (ngSubmit)='submit()' autocomplete="off" class="text-center">
  <mat-form-field appearance="legacy" class='ml-4 mr-4 d-block'>
    <mat-label>Name<span style='color: red'>*</span></mat-label>
    <input matInput placeholder="Name" formControlName='name'>
    <mat-icon matSuffix>person</mat-icon>
    <mat-hint><span>Name is required</span></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="legacy" class='ml-4 mr-4 d-block'>
    <mat-label>Phone<span style='color: red'>*</span></mat-label>
    <input matInput placeholder="Phone" formControlName='phone'>
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint><span>Phone is required</span></mat-hint>
  </mat-form-field>

  <mat-form-field appearance="legacy" class='ml-4 mr-4 d-block'>
    <mat-label>Email<span style='color: red'>*</span></mat-label>
    <input matInput placeholder="Email" formControlName='email'>
    <mat-icon matSuffix>alternate_email</mat-icon>
    <mat-hint><span>Email is required</span></mat-hint>
  </mat-form-field>

<div class='d-flex justify-content-between mt-3 mb-2'>
  <button mat-raised-button color="basic" (click)="close()">Close</button>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!contactForm.valid"
  >
    Submit
  </button>
</div>
</form>



