<footer class="footer" role="contentinfo">
  <div class="container-fluid mt-5 pb-5">
    <div class="row">
      <div class="col-md-4 text-center no-padding-x">
        <div class="footerSection footerLogoCont">
          <img
            id="footerLogo"
            [routerLink]="['/']"
            src="assets/images/logo.png"
            alt="findparts_logo"
          >
        </div>
        <div class="footerSmText mt-1">
          Operated by Way To Success Marketing Services, Dubai, UAE
        </div>
        <div class="footerCommercial mt-3">
          For Partnership & Comemrcial contact us:
          <a href="mailto:info@findparts.ae">
            info@findparts.ae
          </a>
        </div>
      </div>
      <div class="col-md-4 borders-lr">
        <div class="footerSection contactDetails">
          <h3>Contacts</h3>
          <ul>
            <li><i class="fas fa-at mr-2"></i><a href="mailto:info@findparts.ae">info@findparts.ae</a></li>
<!--            <li><i class="fas fa-phone mr-2"></i><a href="tel:+7 789789789">+7 789 789 789</a></li>-->
            <li><i class="fas fa-map-marker-alt mr-2"></i><span>Sheikh Mohammed Bin Rashid Blvd,Boulevard Plaza,<br>Tower 1 Level 9, Dubai, United Arab Emirates</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footerSection">
          <h3>Site Map</h3>
          <ul>
            <li>
              <a
                [routerLink]="['/']"
                class="footer-nav"
              >
                Home
              </a>
            </li>
            <li>
              <a
                [routerLink]="['/partners']"
                class="footer-nav"
              >
                For Partners
              </a>
            </li>
            <li>
              <a
                class="fiiter-nav"
                (click)='openDialog()'
              >Contact Us</a>
            </li>
            <li>
              <a [routerLink]="['/terms']" class="fiiter-nav">Use Terms & Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</footer>
