$lightGreen: #54c132;
$darkGreen: #1f570c;
$lightGray: #9698a5;
$darkGray: #1E222e;
$hoverGreen: #36c14b;
$buttonDarkText: #1E222e;
$background: #f8f9fa;
$midGrey: #596C78;

footer {
  background-color: $background;
  border-top: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 -5px 5px -5px $lightGray;
  .footerLogoCont {
    display: flex;
    text-align: center;
    justify-content: center;
    #footerLogo {
      max-width: 250px;
    }
  }
  .footerSmText {
    font-family: SegoeBoldItalic;
    font-size: 12px;
    color: $midGrey;
  }
  .footerCommercial {
    font-family: SegoeBoldItalic;
    font-size: 16px;
    color: $darkGray;
    a {
      color: $lightGreen;
    }
  }
  .borders-lr {
    border-left: 1px solid rgba(0,0,0,.2);
    border-right: 1px solid rgba(0,0,0,.2);
  }
  .footerSection {
    h3 {
      font-size: 2.1rem;
      margin-left: 38px;
      color: $darkGray;
      font-family: SegoeBoldItalic;
    }
    ul {
      list-style-type: none;
      li {
        &:hover {
          cursor: pointer;
        }
        font-family: SegoeItalic;
        font-size: 16px;
        color: $darkGray;
        margin-top: 3px;
        a {
          color: $lightGreen;
        }
      }
    }
  }
}
@media (max-width: 1800px) {
  footer {
    .footerCommercial{
      font-size: 15px;
    }
    .footerSection {
      h3 {
        font-size: 1.8rem;
      }
      ul {
        li {
          font-size: 15px;
        }
      }
    }

  }
}

@media (max-width: 1440px) {
  footer {
    .footerCommercial {
      font-size: 14px;
    }
    .footerSection {
      ul {
        font-size: 1.5rem !important;
        li {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    .borders-lr {
      border-left: none;
      border-right: none;
    }
    .footerSection {
      margin-top: 18px;
      text-align: center;
      h3 {
        margin-right: 12px;
        margin-left: 12px;
        padding-left: 0px !important;
      }
      ul {
        margin-right: 12px;
        margin-left: 12px;
        padding-left: 0px !important;
      }
    }
  }
}
