<findparts-web-header></findparts-web-header>
<main id="main" role="main" #main>
    <!--    -------->
    <!--    Header Block-->
    <section id="headerBlock">
      <div class="header-image-cont d-flex">
        <img
          class="header-picture"
          src="assets/images/bg-new-3.jpg"
          alt="details_picture"
        >
        <div class="header-image-text">
          <div>
            <h1><span>FIND</span><span style='color: #9698a5'>PARTS.AE:</span></h1>
            <ul>
              <li>- Hundreds of parts, tyres and service suppliers </li>
              <li>- Save your time searching and calling </li>
              <li>- Easy to understand and fill in </li>
              <li>- Cover all cities in UAE in one Request Form</li>
            </ul>
            <div class='d-flex justify-content-center'>
              <button mat-raised-button color="primary" (click)="scrollToForms(frontParts)">
                Get the Best Deal!
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

  <section id="headerBlockSm">
    <div class="container-fluid">
      <div class='row'>
        <div class='col-md-6 no-padding-x'>
          <div class='header-image-text-sm' style='background: url("assets/images/bg-new-crop-2.jpg")'>
            <h1 class='pt-2'><span style='color: #54c132'>FIND</span><span style='color: #9698a5'>PARTS.AE:</span></h1>
            <ul>
              <li>- Hundreds of parts, tyres and service suppliers </li>
              <li>- Save your time searching and calling </li>
              <li>- Easy to understand and fill in </li>
              <li>- Cover all cities in UAE in one Request Form</li>
            </ul>
            <div class='d-flex justify-content-center pb-3'>
              <button mat-raised-button color="primary" (click)="scrollToForms(frontParts)">
                Get the Best Deal!
              </button>
            </div>
          </div>
        </div>
        <div class='col-md-6 no-padding-x'>
          <div class='header-image-cont-sm'>
            <img
              class="img-fluid"
              src="assets/images/bg-new-crop-1.jpg"
              alt="details_picture"
            >
          </div>
        </div>
      </div>
    </div>
  </section>



  <!--    -------->
  <!--   Front Parts Buttons  -->
  <section id="frontParts" #frontParts>
    <div class="container advAnimation">
      <div class="heeaderFindpartsCont" #heeaderFindpartsCont>
        <div class='row'>
          <div class="col text-center">
            <h2 class="heeaderFindparts">
              How does <span>FIND</span>PARTS.AE work?<br>
            </h2>
          </div>
        </div>
        <div class='row mt-3'>
          <div class='col-md-7 d-flex align-items-center'>
            <ul class="listFindparts">
              <li class="subheaderFindparts mt-4">
                <mat-icon [inline]="true" class='mr-3'>playlist_add</mat-icon>Simply fill in the request form
              </li>
              <li class="subheaderFindparts mt-4">
                <mat-icon [inline]="true" class='mr-3'>task_alt</mat-icon>Start receiving calls  & emails from suppliers with offers
              </li>
            </ul>
          </div>
          <div class='col-md-5'>
            <img
              id='carPic'
              #carPic
              class="header-picture"
              src="assets/images/car.png"
              alt="details_picture"
            >
          </div>
        </div>
      </div>

      <div class="row pt-5rem pb-5">
        <div class="col-md-4 pb-5 pb-sm-1">
          <div class="partsBtnCont">
            <div id="partsBtnTyres" class="partsButton" #partsBtnTyres>
              <div class='m-auto'>
                <div class="partsBtnImgCont w-75px d-flex">
                  <img
                    src="assets/images/tyresison1.png"
                    alt="tyres"
                    class="partsImage w-75px"
                  >
                </div>
                <div class="partsBtnTxtCont fullwidth m-auto text-center">
                  <h3 class="btnTextFindparts">
                    Tyres
                  </h3>
                </div>
              </div>
            </div>
            <div class="arrow1" #arrow1></div>
          </div>
        </div>

        <div class="col-md-4 pb-5 pb-sm-1">
          <div class="partsBtnCont">
            <div id="partsBtnDetailing" class="partsButton" #partsBtnDetailing>
              <div class="partsBtnImgCont d-flex w-70px">
                <img
                  src="assets/images/tyresison2.png"
                  alt="detailing"
                  class="partsImage w-70px"
                >
              </div>
              <div class="partsBtnTxtCont fullwidth m-auto text-center">
                <h3 class="btnTextFindparts">
                  Detailing & Bodyworks
                </h3>
              </div>
            </div>
            <div class="arrow2" #arrow2></div>
          </div>
        </div>

        <div class="col-md-4 pb-5 pb-sm-1">
          <div class="partsBtnCont">
            <div id="partsBtnParts" class="partsButton" #partsBtnParts>
              <div class='m-auto'>
                <div class="partsBtnImgCont d-flex w-75px">
                  <img
                    src="assets/images/tyresison3.png"
                    alt="parts"
                    class="partsImage w-75px"
                  >
                </div>
                <div class="partsBtnTxtCont fullwidth mr-auto ml-auto text-center">
                  <h3 class="btnTextFindparts">Parts</h3>
                </div>
              </div>
            </div>
            <div class="arrow3" #arrow3></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--    -------->
  <!--   Forms  -->
  <section id="allFormsFP">
    <section id="partsFormParts" class="formsCollapse">
      <findparts-web-parts-form [isCaptchaValid]='isCaptchaValid'></findparts-web-parts-form>
    </section>

    <section id="partsFormTyres" class="formsCollapse">
      <findparts-web-tyres-form [isCaptchaValid]='isCaptchaValid'></findparts-web-tyres-form>
    </section>

    <section id="partsFormDetailing" class="formsCollapse">
      <findparts-web-detailing-form  [isCaptchaValid]='isCaptchaValid'></findparts-web-detailing-form>
    </section>
  </section>


  <!--    ----------->
  <!--   Advertisment  -->
  <section id='advert' style='background: url("assets/images/bg-cut.jpg") no-repeat; background-size: 100% 100%;'>
    <div class="container">
      <div class='row'>
        <div class='col col-md-9'>
          <div>
            <h1>
              <mat-icon [inline]="true" class='mr-3'>add_comment</mat-icon>Get advertisement on <span>FIND</span>PARTS website
            </h1>
          </div>
        </div>
        <div class='col col-md-3'>
          <button mat-raised-button color="primary" (click)="openDialog()">
            Get the Best Deal!
          </button>
        </div>
      </div>
    </div>
  </section>

  <!--    ----------->
  <!--   Partners  -->
  <section id="partnersFP">
    <div class="container-fluid">
      <div class="row pb-5">
        <div class="col-md-1"></div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-down" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/mercedes.png"
              alt="mercedes"
              class="partnerImage"
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-down" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/ford.png"
              alt="ford"
              class="partnerImage max-width-160"
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-down" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/audi.png"
              alt="audi"
              class="partnerImage"
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-down" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/mazda.png"
              alt="mazda"
              class="partnerImage max-width-160"
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-down" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/kia.png"
              alt="kia"
              class="partnerImage"
            >
          </div>
        </div>
        <div class="col-md-1 "></div>
      </div>

      <div class="row pt-5 pb-5 ">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-up" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/toyota.png"
              alt="toyota"
              class="partnerImage"
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-up" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/chevrolet.png"
              alt="chevrolet"
              class="partnerImage"
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-up" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/bmw.png"
              alt="bmw"
              class="partnerImage max-width-100 "
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-up" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/honda.png"
              alt="honda"
              class="partnerImage"
            >
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row pt-5 pb-5">
        <div class="col-md-3"></div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-down" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/pirelli.png"
              alt="pirelli"
              class="partnerImageTires"
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-down" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/dunlop.png"
              alt="dunlop"
              class="partnerImageTires"
            >
          </div>
        </div>
        <div class="col-md-2">
          <div class="partnerIconCont" data-aos="flip-down" data-aos-delay="100" data-aos-duration="800">
            <img
              src="assets/images/partners/michlen.png"
              alt="michlen"
              class="partnerImageTires"
            >
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>

    </div>
  </section>

  <!-- Partners for SmallScreen -->
  <section id="partnersFP-small" class="d-none pb-5">
    <div class="container-fluid">
      <div class="row">
        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/mercedes.png"
            alt="mercedes"
            class="partnerImage max-width-90"
          >
        </div>
        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/ford.png"
            alt="ford"
            class="partnerImage"
          >
        </div>

        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/mazda.png"
            alt="mazda"
            class="partnerImage"
          >
        </div>
        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/kia.png"
            alt="kia"
            class="partnerImage"
          >
        </div>

        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/toyota.png"
            alt="toyota"
            class="partnerImage max-width-90"
          >
        </div>
        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/chevrolet.png"
            alt="chevrolet"
            class="partnerImage"
          >
        </div>

        <div class='col-sm-6 imageCont '>
          <img
            src="assets/images/partners/bmw.png"
            alt="bmw"
            class="partnerImage w-150"
          >
        </div>
        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/honda.png"
            alt="honda"
            class="partnerImage"
          >
        </div>

        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/pirelli.png"
            alt="pirelli"
            class="partnerImage"
          >
        </div>
        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/dunlop.png"
            alt="dunlop"
            class="partnerImage"
          >
        </div>

        <div class='col-sm-6 imageCont'>
          <img
            src="assets/images/partners/michlen.png"
            alt="michlen"
            class="partnerImage"
          >
        </div>
      </div>
    </div>
  </section>

</main>
<findparts-web-footer></findparts-web-footer>
